.nav-pokedex a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 5px 12px;
    border-radius: 20px;
    border: 3px solid black;
}

.card-title {
    font-weight: 900;
}

.text-price,
.text-sell,
.page-title {
    font-weight: 900;
}
